    <!-- jQuery -->
    <script src="/server/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="/server/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="/server/dist/js/adminlte.min.js"></script>

</body>
</html>